/*Generals classes*/

html {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}


/*Littles classes*/

.title {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.header-title {
    width: 100%;
    text-align: center;
}

.anime-section {
    border: .5px solid white;
}

.progressBar {
    text-align: center;
    margin: 20px;
}

.animeList {
    margin: 50px 0;
    width: 100%;
}

.paper {
    padding: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54) !important;
}

.toolbar {
    background: rgb(238, 238, 238);
}

.principal {
    font-size: 30px;
}

.synopsis {
    text-align: justify;
}

.anime-content {
    padding-left: 33px
}


/* Not found */

.notFound {
    padding-top: 100px;
    text-align: center;
    height: 100vh;
}

.notFound .notFound-content {
    margin: 10px;
}


/* Changes for material-ui classes */

span.MuiToggleButton-label {
    color: black;
    text-decoration: none;
}

.MuiToggleButton-root {
    color: black;
}

.MuiButtonBase-root {
    background-color: white !important;
    margin: 10px !important;
}

.MuiGrid-container {
    padding: 100px;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin-right: 0%;
}

.MuiGrid-spacing-xs-3 {
    margin: -27px !important;
}