html {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

img:hover {
    cursor: pointer;
}

.progressBar {
    text-align: center;
    margin: 20px;
}


/* anime list*/

.animeList {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header-title {
    width: 100%;
    text-align: center;
}

.title {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.anime-section {
    width: 30%;
    border: 1px solid black;
    margin: 2px;
    text-align: center;
}


/*Paper*/

.paper {
    padding: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54) !important;
}


/* footer */

.toolbar {
    background: rgb(238, 238, 238);
}

.toolbar .header-title {
    font-size: 15px;
}


/* general utils */


/* not found */

.notFound {
    padding-top: 100px;
    text-align: center;
    height: 100vh;
}

.notFound .notFound-content {
    margin: 10px;
}


/* header */

.header-link {
    text-decoration: none;
}


/*Toggle Button*/

span.MuiToggleButton-label {
    color: black;
}

.MuiToggleButton-root {
    color: black;
}

.MuiButtonBase-root {
    background-color: white !important;
    margin: 10px !important;
}